.logo {
    position: relative;
    animation: fadeIn 4s ease-in;
    width: 100vw;
}
.logo img {
    width: 100vw;
}
.logo #left-arrow {
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}
.logo #right-arrow {
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

@keyframes fadeIn {
    from { opacity: 0.2;}
    to { opacity: 1;}
}